<div class="conteiner">

  <h2 class="text-center">Registrate</h2>
  <h6 class="text-center text-muted">Rellena el formulario con tus datos</h6>
  <div class="container">
    <!-- <div class="row" class="fotoPerfil w-100" *ngIf="">


            <div class="col-12">
                <label for="">Foto de perfil</label>        
            </div>

            <div class="col-3">
                    <div class="vistaPrevia" >
                            <img id="output" src="assets/img/perfil-image/avatar-no-photo.png" alt="" class="img-fluid img-thumbnail">
                    </div>
            </div>

            <div class="col-5">
                <div class="">
                        <div class="top">
                            <p class="text-muted">
                                    <small>
                                        <strong>Nota:</strong> 
                                        La foto de perfil es muy importante para que los usuarios te 
                                        reconozcan, te recomendamos usar una foto real
                                    </small>
                            </p>
                        </div>
                        <div class="middle">
                            <p>
                                <span class="badge badge-warning"> 
                                    No tiene ninguna foto subida
                                </span>
                            </p>
                        </div>
                        <div class="bottom">
                            <button class="btn btn-secondary btn-block">
                                    Subir foto de perfil
                            </button>
                            <br>
                        </div>
                </div>
        </div>
    </div> -->


    <div class="row" > 
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 m-auto" >
            <form  #usuario="ngForm" (ngSubmit)="registrarUsuario(usuario)" validate>
                <div class="container">
                <div class="row">
                    <div class="form-group col-12">
                        <label for="">Matricula *</label>
                        <input type="text" class="form-control" name="matricula" placeholder="Matricula" ngModel #matricula="ngModel" required>
                        <div *ngIf="matricula.errors && (matricula.dirty || matricula.touched)" class="">
                                <div [hidden]="!matricula.errors.required">
                                  <p class="text-danger">¡Necesitas una matricula!</p>
                                </div>
                                <div hidden>
                                    <p class="text-danger">Matricula invalida</p>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label for="">Nombre</label>
                        <input type="text" 
                        class="form-control"  
                        placeholder="Nombre" 
                        required 
                        name="nombre"
                        #nombre="ngModel"
                        ngModel>
                        <!-- Alerts -->
                        <div *ngIf="nombre.errors && (nombre.dirty || nombre.touched)" class="">
                                <div [hidden]="!nombre.errors.required">
                                  <p class="text-danger">¡Necesitas un nombre!</p>
                                </div>
                        </div>
                    </div>
           

                    <div class="col-md-6 col-sm-12">
                        <label for="">Apellidos</label>
                        <input type="text" 
                        class="form-control"  
                        placeholder="Apellidos" 
                        required 
                        name="apellidos"
                        ngModel
                        #apellidos="ngModel">
                        <!-- alerts -->
                        <div *ngIf="apellidos.errors && (apellidos.dirty || apellidos.touched)" class="">
                                <div [hidden]="!apellidos.errors.required">
                                  <p class="text-danger">¿No tienes papas? :c </p>
                                </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="">Correo Electronico</label>
                        <input type="email" 
                        class="form-control" 
                        placeholder="Correo Electronico" 
                        required 
                        name="email"
                        email="true" 
                        ngModel 
                        #email="ngModel"
                        >
                        <!-- alert -->
                        <div *ngIf="email.errors && (email.dirty || email.touched)" class="">
                                <div [hidden]="!email.errors.required">
                                    <p class="text-danger">Necesitas un email, estamos en {{ year }}</p>
                                </div>
                                <div *ngIf="email.errors.email">
                                    <p class="text-muted"> Esto no se ve como un email </p>
                                </div> 
                                <div *ngIf="">
                                    <p class="text-danger">Ya existe este email, ¿una cuenta fake eh?</p>
                                </div>
                        </div>
                    </div>
                    <div class=" col-md-6 col-sm-12">
                        <label for="">Contraseña</label>
                        <input type="password" 
                        class="form-control"  
                        placeholder="Contraseña" 
                        name="password"
                        #passOne="ngModel"
                        pattern=".{8,15}"
                        required
                        ngModel>
                        <div *ngIf="passOne.errors && (passOne.dirty || passOne.touched)" class="">
                                <div [hidden]="!passOne.errors.required">
                                    <p class="text-danger position-absolute">Te falto este campo</p>
                                    <br>
                                </div>
                                <div [hidden]="!passOne.errors.pattern">
                                    <p class="text-danger">
                                        <small>
                                        La contraseña debe contener al menos 8 a 15 caracteres
                                        </small>
                                    </p>    
                                </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-sm-12">
                        <label for="">Repetir contraseña contraseña</label>
                        <input type="password" 
                        class="form-control"  
                        placeholder="Repetir contraseña" 
                        name="password2"
                        #passTwo="ngModel"
                        required
                        ngModel>
                        <div *ngIf="passTwo.errors && (passTwo.dirty || passTwo.touched)" class="">
                           
                                <div [hidden]="!passTwo.errors.required">
                                    <p class="text-danger">Te falto este campo</p>
                                </div>
                                <!-- <div [hidden]="!passTwo.errors.pattern">
                                        <p class="text-danger">
                                            <small>
                                            La contraseña debe contener al menos 8 caracteres
                                            </small>
                                        </p>    
                                </div> -->
                                
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <br *ngIf="passOne.value == passTwo.value">
                        <span class="text-danger" [hidden]="passOne.value == passTwo.value">
                            Las contraseñas necesitan ser iguales
                        </span>
                    </div> 
                   
                </div>
                <hr>
                <div class=" row">
                <div class="col-12 text-center text-muted">
                    <p>Seleccione un rol</p>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                <input type="radio" 
                                name="rol"
                                
                                id="estudiante" 
                                required
                                ngModel
                                value="estudiante"
                                (click)="changeRol(1)">
                                </div>
                            </div>
                            <label  class="form-control" >Estudiante</label>
                            </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                <input type="radio" 
                                name="rol" 
                                required  
                                ngModel
                                
                                value="maestro" 
                                (click)="changeRol(0)">
                                </div>
                            </div>
                            <label  class="form-control" >Maestro</label>
                            </div>
                    </div>
                </div>
                <!-- <div class="col-12 text-center text-muted" *ngIf="rol.invalid">
                    <p>Necesitas un rol</p>
                </div> -->
                <div class="col-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <label class="input-group-text" for="">Division de </label>
                            </div>
                            <select class="custom-select" 
                            id="division" 
                            name="division" 
                            ngModel
                            #valor="ngModel"
                            required
                            (change)="changeDivision(valor.value)"
                            >
                                <option value="" selected >Seleccione su división...</option>
                                <option value="{{ i }}" *ngFor="let division of u; let i = index">
                                  <span>{{ division.nombre }}</span>  
                                </option>
                            </select> 
                        </div>
                    </div>
                </div>
                

                <!-- Contenedor estudiante -->
                
                <div class="row animated fadeIn" *ngIf="rol.estudiante">
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="">Carrera</label>
                            </div>
                            <select class="custom-select" 
                            name="carrera" 
                            ngModel
                            required
                            >
                                <option value="" selected >Seleccione su carrera...</option>
                                <option value="{{ carrera | json}}" *ngFor="let carrera of u[divisionIndex].carreras">
                                    {{ carrera.abr }} en {{ carrera.label}} 
                                </option>
                            </select> 
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="">Cuatrimestre</label>
                            </div>
                            <select class="custom-select" 
                            id="cuatrimestre" 
                            name="cuatrimestre" 
                            ngModel="1"
                            required
                            >   
                                <!-- <option value="" ngCheked> Seleccione su cuatrimestre </option> -->
                                <option value="1">Primer Cuatrimestre</option>
                                <option value="2" >Segundo Cuatrimestre</option>
                                <option value="3" >Tercer Cuatrimestre</option>
                                <option value="4" >Cuarto Cuatrimestre</option>
                                <option value="5" >Quinto Cuatrimestre</option>
                                <option value="6" >Sexto Cuatrimestre</option>
                            </select> 
                        </div>
                    </div>
                </div>

                
                    
        
            <!-- / Contenedor estudiantes -->
            <!-- Contenedor maestros -->
        
                
                <div class="row animated fadeIn" *ngIf="rol.maestro">
                    <div class="col-12">
                        <div class="input-group ">
                            <div class="input-group-prepend">
                            <label class="input-group-text" for="">Grado de estudios</label>
                            </div>
                            <select class="custom-select" 
                            id="grado" 
                            name="grado" 
                            ngModel
                            required>
                                <option value="" selected >Seleccione su grado...</option>
                                <option value="{{ grado | json }}" *ngFor="let grado of g">{{ grado.titulo}}</option>
                                
                            </select> 
                        </div>
                    </div>
                    <div class="col-12">
                    <label for="">Carrera</label>
                    <input type="text" 
                    class="form-control" 
                    placeholder="Escriba el título que poseé"
                    name="titulo"
                    ngModel
                    #titulo="ngModel"
                    required>
                        <div *ngIf="titulo.errors && (titulo.dirty || titulo.touched)" class="">
                            
                                <div [hidden]="!titulo.errors.required">
                                    <p class="text-danger">¿de que se tituló?</p>
                                    
                                </div>
                                
                        </div>
                    </div>
                    
                </div>
                
                
            <!-- /Contenedor maestros -->
                <!-- <div class="row my-3">
                        <div class="col m-auto ">
                                <div class="form-check">
                                <input class="form-check-input" 
                                type="checkbox" 
                                id="terminos"
                                ngModel
                                name="terminos">
                                <label class="form-check-label" for="gridCheck">
                                    Acepto terminos y condiciones
                                </label>
                                </div>
                        </div>
                        
                </div> -->
                    <div class="row mt-3">
                        <div class="col-12">
                                <button type="submit" class="btn btn-primary w-100 m-auto " [disabled]="!usuario.valid">Registrarte</button>
                        </div> 
                        
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12 text-center">
                                <p class="text-muted">
                                        <small>
                                                Foroteca &copy; | derechos reservados
                                        </small>
                                </p>
                        </div>
                    </div>
                </div>
            </form> 
        </div>
    </div>
</div>
</div>     