<div class="container-fluid text-center text-muted" *ngIf="cargando">   
    <h4>
        <p>
            Cargando Articulo..
        </p>
        <p>
            <i class="fas fa-circle-notch loadingItem"></i>
        </p>
    </h4>
</div>

<div class="container-12 bg-ft-smoke " *ngIf="!cargando && consulta">
    <div class="row ctm-p-m black">
        
        <div class="col ctm-p-m ctm-img-bg">
            <div class="row ctm-p-m">
                <div class="col-12 ctm-p-m d-flex justify-content-center">
                    <div class="row ctm-mrg ">
                        <div class="col-12 justify-content-center d-flex">
                            <img class="ctm-img-us" src="{{articulo.autor.picture}}" alt="" width="100px" height="100px">
                        </div>
                        <div class="col-12">
                            <h1 class="text-white text-center">{{articulo.autor.nombre}}</h1>
                        </div>
                        <div class="col-12">
                            <h3 class="text-white text-center">{{articulo.autor.tipo | titlecase}}</h3>
                        </div>
                        <div class="col-12 mt-5 justify-content-center d-flex">
                            <!-- <button class="btn"><i class="fas fa-edit mr-2"></i>Editar Perfil</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="contenedor">
        <div class="col-12 bg-white">
            <div class="row">
                <div class="col-12">
                    <br>
                    <h1 class="text-center">{{articulo.nombreArticulo}}</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <h5 class="foroteca-primary">División de {{articulo.categoria.division}}</h5>
                    <h6 class="foroteca-primary text-muted">{{articulo.categoria.carrera}}</h6>
                </div>
                <div class="col-4">
                    <h6 class="text-right text-muted">{{articulo.fechaPublicacion | timeago:'es'}}</h6>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-11">
                    <div id="editor">

                    </div>
                </div>
            </div>
            <hr>
            <div class="tags">
                <small class="text-muted">Tags:</small>
                    <a href="" *ngFor="let tag of articulo.tags">
                        <span class="badge badge-secondary mx-1">{{ tag.value }}</span>
                    </a>
            </div>      
            <hr>
            <br> 
        </div>
    </div>
</div>