<div class="container-12 bg-ft-smoke">
    <div class="row ctm-p-m">
        <div class="col ctm-p-m ctm-img-bg">
            <div class="row ctm-p-m">
                <div class="col-12 ctm-p-m d-flex justify-content-center">
                    <div class="row ctm-mrg">
                        <div class="col-12 justify-content-center d-flex">
                            <img class="ctm-img-us" src="assets/img/ex1.jpg" alt="" width="100px" height="100px">
                        </div>
                        <div class="col-12">
                            <h1 class="text-white text-center">David Montores Escalante</h1>
                        </div>
                        <div class="col-12">
                            <h3 class="text-white text-center">Estudiante</h3>
                        </div>
                        <div class="col-12 mt-5 justify-content-center d-flex">
                            <button class="btn"><i class="fas fa-edit mr-2"></i>Editar Perfil</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="contenedor">
        <div class="col-12 bg-white">
            <div class="row">
                <div class="col-12">
                    <br>
                    <h1 class="text-center">Como mejorar las capacidades de aprendizaje</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <h6 class="foroteca-primary">TIC/ área multimedia y comercio electrónico / Expresión Oral y Escrita / 2do Cuatrimestre</h6>
                </div>
                <div class="col-4">
                    <h6 class="text-right text-muted">Hace 20 minutos</h6>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-11">
                    <p class="text-justify">
                        In exercitation est proident consectetur est eu ea. Aliquip deserunt commodo consequat ut. Fugiat consectetur in labore id pariatur occaecat non reprehenderit eiusmod laboris in esse commodo.Nulla Lorem fugiat veniam anim enim irure proident ut minim.
                        Deserunt quis Lorem id incididunt sint cupidatat quis aliqua. Ad non culpa In exercitation est proident consectetur est eu ea. Aliquip deserunt commodo consequat ut. Fugiat consectetur in labore id pariatur occaecat non reprehenderit
                        eiusmod laboris in esse commodo.Nulla Lorem fugiat veniam anim enim irure proident ut minim. Deserunt quis Lorem id incididunt sint cupidatat quis aliqua. Ad non culpa aliqua in voluptate dolor ullamco in consequat voluptate. In
                        exercitation est proident consectetur est eu ea. Aliquip deserunt commodo consequat ut. Fugiat consectetur in labore id pariatur occaecat non reprehenderit eiusmod laboris in esse commodo.Nulla Lorem fugiat veniam anim enim irure
                        proident ut minim. Deserunt quis Lorem id incididunt sint cupidatat quis aliqua. Ad non culpa aliqua in voluptate dolor ullamco in consequat voluptate. In exercitation est proident consectetur est eu ea. Aliquip deserunt commodo
                        consequat ut. Fugiat consectetur in labore id pariatur occaecat non reprehenderit eiusmod laboris in esse commodo.Nulla Lorem fugiat veniam anim enim irure proident ut minim. Deserunt quis Lorem id incididunt sint cupidatat quis
                        aliqua. Ad non culpa aliqua in voluptate dolor ullamco in consequat voluptate. In exercitation est proident consectetur est eu ea. Aliquip deserunt commodo consequat ut. Fugiat consectetur in labore id pariatur occaecat non reprehenderit
                        eiusmod laboris in esse commodo.Nulla Lorem fugiat veniam anim enim irure proident ut minim. Deserunt quis Lorem id incididunt sint cupidatat quis aliqua. Ad non culpa aliqua in voluptate dolor ullamco in consequat voluptate. aliqua
                        in voluptate dolor ullamco in consequat voluptate. In exercitation est proident consectetur est eu ea. Aliquip deserunt commodo consequat ut. Fugiat consectetur in labore id pariatur occaecat non reprehenderit eiusmod laboris in
                        esse commodo.Nulla Lorem fugiat veniam anim enim irure proident ut minim. Deserunt quis Lorem id incididunt sint cupidatat quis aliqua. Ad non culpa aliqua in voluptate dolor ullamco in consequat voluptate. In exercitation est
                        proident consectetur est eu ea. Aliquip deserunt commodo consequat ut. Fugiat consectetur in labore id pariatur occaecat non reprehenderit eiusmod laboris in esse commodo.Nulla Lorem fugiat veniam anim enim irure proident ut minim.
                        Deserunt quis Lorem id incididunt sint cupidatat quis aliqua. Ad non culpa aliqua in voluptate dolor ullamco in consequat voluptate. In exercitation est proident consectetur est eu ea. Aliquip deserunt commodo consequat ut. Fugiat
                        consectetur in labore id pariatur occaecat non reprehenderit eiusmod laboris in esse commodo.Nulla Lorem fugiat veniam anim enim irure proident ut minim. Deserunt quis Lorem id incididunt sint cupidatat quis aliqua. Ad non culpa
                        aliqua in voluptate dolor ullamco in consequat voluptate. In exercitation est proident consectetur est eu ea. Aliquip deserunt commodo consequat ut. Fugiat consectetur in labore id pariatur occaecat non reprehenderit eiusmod laboris
                        in esse commodo.Nulla Lorem fugiat veniam anim enim irure proident ut minim. Deserunt quis Lorem id incididunt sint cupidatat quis aliqua. Ad non culpa aliqua in voluptate dolor ullamco in consequat voluptate.Laboris exercitation
                        sit occaecat consequat aute pariatur Lorem. Consectetur elit anim sunt dolor minim aliqua officia anim veniam consequat aute incididunt excepteur. Sunt tempor sint exercitation esse reprehenderit anim deserunt aliquip velit pariatur
                        minim occaecat tempor. Proident ullamco sunt irure non magna magna quis aliqua velit nulla eu. Nisi esse dolor ipsum cillum. Sint aute enim nostrud minim magna ea nostrud consequat mollit deserunt occaecat. Pariatur cillum amet
                        Lorem non do aliquip commodo aliquip elit elit eiusmod voluptate qui nisi. In exercitation est proident consectetur est eu ea. Aliquip deserunt commodo consequat ut. Fugiat consectetur in labore id pariatur occaecat non reprehenderit
                        eiusmod laboris in esse commodo.Nulla Lorem fugiat veniam anim enim irure proident ut minim. Deserunt quis Lorem id incididunt sint cupidatat quis aliqua. Ad non culpa aliqua in voluptate dolor ullamco in consequat voluptate. In
                        exercitation est proident consectetur est eu ea. Aliquip deserunt commodo consequat ut. Fugiat consectetur in labore id pariatur occaecat non reprehenderit eiusmod laboris in esse commodo.Nulla Lorem fugiat veniam anim enim irure
                        proident ut minim. Deserunt quis Lorem id incididunt sint cupidatat quis aliqua. Ad non culpa aliqua in voluptate dolor ullamco in consequat voluptate. In exercitation est proident consectetur est eu ea. Aliquip deserunt commodo
                        consequat ut. Fugiat consectetur in labore id pariatur occaecat non reprehenderit eiusmod laboris in esse commodo.Nulla Lorem fugiat veniam anim enim irure proident ut minim. Deserunt quis Lorem id incididunt sint cupidatat quis
                        aliqua. Ad non culpa aliqua in voluptate dolor ullamco in consequat voluptate. In exercitation est proident consectetur est eu ea. Aliquip deserunt commodo consequat ut. Fugiat consectetur in labore id pariatur occaecat non reprehenderit
                        eiusmod laboris in esse commodo.Nulla Lorem fugiat veniam anim enim irure proident ut minim. Deserunt quis Lorem id incididunt sint cupidatat quis aliqua. Ad non culpa aliqua in voluptate dolor ullamco in consequat voluptate. In
                        exercitation est proident consectetur est eu ea. Aliquip deserunt commodo consequat ut. Fugiat consectetur in labore id pariatur occaecat non reprehenderit eiusmod laboris in esse commodo.Nulla Lorem fugiat veniam anim enim irure
                        proident ut minim. Deserunt quis Lorem id incididunt sint cupidatat quis aliqua. Ad non culpa aliqua in voluptate dolor ullamco in consequat voluptate. In exercitation est proident consectetur est eu ea. Aliquip deserunt commodo
                        consequat ut. Fugiat consectetur in labore id pariatur occaecat non reprehenderit eiusmod laboris in esse commodo.Nulla Lorem fugiat veniam anim enim irure proident ut minim. Deserunt quis Lorem id incididunt sint cupidatat quis
                        aliqua. Ad non culpa aliqua in voluptate dolor ullamco in consequat voluptate. In exercitation est proident consectetur est eu ea. Aliquip deserunt commodo consequat ut. Fugiat consectetur in labore id pariatur occaecat non reprehenderit
                        eiusmod laboris in esse commodo.Nulla Lorem fugiat veniam anim enim irure proident ut minim. Deserunt quis Lorem id incididunt sint cupidatat quis aliqua. Ad non culpa aliqua in voluptate dolor ullamco in consequat voluptate. In
                        exercitation est proident consectetur est eu ea. Aliquip deserunt commodo consequat ut. Fugiat consectetur in labore id pariatur occaecat non reprehenderit eiusmod laboris in esse commodo.Nulla Lorem fugiat veniam anim enim irure
                        proident ut minim. Deserunt quis Lorem id incididunt sint cupidatat quis aliqua. Ad non culpa aliqua in voluptate dolor ullamco in consequat voluptate. In exercitation est proident consectetur est eu ea. Aliquip deserunt commodo
                        consequat ut. Fugiat consectetur in labore id pariatur occaecat non reprehenderit eiusmod laboris in esse commodo.Nulla Lorem fugiat veniam anim enim irure proident ut minim. Deserunt quis Lorem id incididunt sint cupidatat quis
                        aliqua. Ad non culpa aliqua in voluptate dolor ullamco in consequat voluptate. In exercitation est proident consectetur est eu ea. Aliquip deserunt commodo consequat ut. Fugiat consectetur in labore id pariatur occaecat non reprehenderit
                        eiusmod laboris in esse commodo.Nulla Lorem fugiat veniam anim enim irure proident ut minim. Deserunt quis Lorem id incididunt sint cupidatat quis aliqua. Ad non culpa aliqua in voluptate dolor ullamco in consequat voluptate. In
                        exercitation est proident consectetur est eu ea. Aliquip deserunt commodo consequat ut. Fugiat consectetur in labore id pariatur occaecat non reprehenderit eiusmod laboris in esse commodo.Nulla Lorem fugiat veniam anim enim irure
                        proident ut minim. Deserunt quis Lorem id incididunt sint cupidatat quis aliqua. Ad non culpa aliqua in voluptate dolor ullamco in consequat voluptate. In exercitation est proident consectetur est eu ea. Aliquip deserunt commodo
                        consequat ut. Fugiat consectetur in labore id pariatur occaecat non reprehenderit eiusmod laboris in esse commodo.Nulla Lorem fugiat veniam anim enim irure proident ut minim. Deserunt quis Lorem id incididunt sint cupidatat quis
                        aliqua. Ad non culpa aliqua in voluptate dolor ullamco in consequat voluptate.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>