<div class="container-12 bg-ft-smoke">
    <div class="row ctm-p-m">
        <div class="col ctm-p-m ctm-img-bg">
            <div class="row ctm-p-m">
                <div class="col-12 ctm-p-m d-flex justify-content-center">
                    <div class="row ctm-mrg">
                        <div class="col-12 justify-content-center d-flex">
                            <img class="ctm-img-us" src="assets/img/ex1.jpg" alt="" width="100px" height="100px">
                        </div>
                        <div class="col-12">
                            <h1 class="text-white text-center">David Montores Escalante</h1>
                        </div>
                        <div class="col-12">
                            <h3 class="text-white text-center">Estudiante</h3>
                        </div>
                        <div class="col-12 mt-5 justify-content-center d-flex">
                            <button class="btn"><i class="fas fa-edit mr-2"></i>Editar Perfil</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="contenedor">
        <div class="row">
            <div class="col-3">
                <div class="row">
                    <div class="col bg-white">
                        <div class="row mt-2 mb-2">
                            <div class="col">
                                <h4 class="text-center">Biografía</h4>
                            </div>
                        </div>
                        <hr>
                        <div class="row mt-2 mb-2">
                            <div class="col">
                                <h6 class="text-justify">Soy David Montores, soy estudiante de la Universidad y me gusta desarrollar aplicaciones web. Soy David Montores, soy estudiante de la Universidad y me gusta desarrollar aplicaciones web.</h6>
                            </div>
                        </div>
                        <hr>
                        <div class="row mt-2 mb-2">
                            <div class="col-4">
                                <h6 class="m-0">Se unió</h6>
                            </div>
                            <div class="col-8">
                                <p class="text-right text-justify text-muted">Marzo del 2018</p>
                            </div>
                        </div>
                        <div class="row mt-2 mb-2">
                            <div class="col-4">
                                <h6 class="m-0">División</h6>
                            </div>
                            <div class="col-8">
                                <p class="text-right text-justify text-muted">Técnologias de la Información y Comunicación</p>
                            </div>
                        </div>
                        <div class="row mt-2 mb-2">
                            <div class="col-4">
                                <h6 class="m-0">Carrera</h6>
                            </div>
                            <div class="col-8">
                                <p class="text-right text-justify text-muted">Ingeniería en Técnologias de la Información</p>
                            </div>
                        </div>
                        <div class="row mt-2 mb-2">
                            <div class="col-4">
                                <h6 class="m-0">Sexo</h6>
                            </div>
                            <div class="col-8">
                                <p class="text-right text-justify text-muted">Hombre</p>
                            </div>
                        </div>
                        <div class="row mt-2 mb-2">
                            <div class="col-4">
                                <h6 class="m-0">Edad</h6>
                            </div>
                            <div class="col-8">
                                <p class="text-right text-justify text-muted">21 años</p>
                            </div>
                        </div>
                        <div class="row mt-2 mb-2">
                            <div class="col-4">
                                <h6 class="m-0">Facebook</h6>
                            </div>
                            <div class="col-8">
                                <a class="ctm-a" href="#">
                                    <p class="text-right text-justify text-muted"><i class="fab fa-facebook"></i> /David Montores</p>
                                </a>
                            </div>
                        </div>
                        <div class="row mt-2 mb-2">
                            <div class="col-4">
                                <h6 class="m-0">Twitter</h6>
                            </div>
                            <div class="col-8">
                                <a class="ctm-a" href="#">
                                    <p class="text-right text-justify text-muted"><i class="fab fa-twitter"></i> /David Montores</p>
                                </a>
                            </div>
                        </div>
                        <div class="row mt-2 mb-2">
                            <div class="col">
                                <button class="btn"><i class="fas fa-edit mr-2"></i>Editar Bio</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8 ml-5 bg-white">
                <!-- ---------BUSCADOR--------- -->
                <br>
                <div class="row justify-content-center">
                    <div class="col-8">
                        <form class="form-inline">
                            <input class="w-75 form-control ctm-border" type="text" placeholder="¿Qué quieres aprender de David?">
                            <button class="w-25 btn bg-ft-primary ctm-border" type="button"> 
                                    <i class="fas fa-search"></i>
                                </button>
                        </form>
                    </div>
                    <div class="col-1 d-flex">
                        <button class="btn d-flex" type="button"> 
                                    <i class="ml-2 mr-2 fas fa-sliders-h"></i>                
                            </button>
                    </div>
                </div>
                <br>
                <hr>
                <!-- ---------ARTICULOS--------- -->
                <div class="row bg-white ml-2 mr-2 mt-4 sombras" *ngFor="let articulo of articulos">
                    <div class="col">
                        <div class="row mt-2">
                            <div class="col-2">
                                <a class="ctm-a" href="#">
                                    <img class="ctm-img mt-4" src="assets/img/ex1.jpg">
                                </a>
                            </div>
                            <div class="col-9">
                                <div class="row justify-content-center">
                                    <a class="ctm-a" href="#">
                                        <h3>Mejorar el aprendizaje</h3>
                                    </a>
                                </div>
                                <div class="row">
                                    <a class="ctm-a" href="#">
                                        <p class="foroteca-primary">TIC / área multimedia y comercio electrónico / Expresión Oral y Escrita / 2do Cuatrimestre</p>
                                    </a>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="row">
                                            <a class="ctm-a" href="">
                                                <p class="text-muted">Prof. Margarita Mendoza Cruz</p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="row justify-content-end">
                                            <a class="ctm-a" href="">
                                                <p class="text-muted">Hace 20 minutos</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1">
                                <button class="btn bg-white" type="button"> 
                                        <i class="foroteca-primary fas fa-angle-down"></i>
                                    </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col bg-ft-primary">
                                <div class="row mt-1 mb-1">
                                    <div class="col-1">
                                        <i class="fas fa-tag"></i>
                                    </div>
                                    <div class="col-11">
                                        <a class="ctm-a" href="#">
                                            <p class="ctm-p-m text-white">Aprendizaje. Expresión Oral, Multimedia. Conocimientos</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>