<!-- Cargando -->
<div class="cargando container" *ngIf="cargando">
  <div class="login m-auto w-50">
     <p class="text-center text-muted">
          Preparando lienzo..
    </p>
    <p class="text-center display-4 text-muted" >
        <i class="fas fa-circle-notch loadingItem"></i>
    </p>
    
  </div>
</div>

<div *ngIf="estudiante">
  <div class="w-50 m-auto">
      <h2 class="text-center">
          Lo sentimos tanto :(
      </h2>
      <p class="text-muted">
        Actualmente solo los profesores pueden publicar articulos, estamos trabajando duro para integrar que los estudiantes puedan publicar y que los profesores validen el material
      </p>
  </div>
  
</div>

<!-- En caso de no estar registrado -->
<div class="nologin text-center" *ngIf="!login && !cargando ">
  <h2>Necesita estar registrado para publicar un articulo amigo :C</h2>
  <button class="btn btn-primary" routerLink="/registrarse">Registrarse</button>
</div>

<!-- Contenedor de la publicacion  -->
<div class="login container-fluid bg-white" *ngIf="login && !cargando && !estudiante" unload="salirSinGuardar()">
<form #articulo=ngForm (ngSubmit)="guardarArticulo(articulo)" validate>

  <div class="row ">
    <div class="col">
        <div class="col-12 p-2">
            <input  type="text" class="tituloSize "  
                    placeholder="Ponle un nombre a tu articulo"
                    ngModel
                    name="titulo"
                    required
                    #nombre="ngModel"
                    >
        </div>
        <div *ngIf="nombre.errors && (nombre.dirty || nombre.touched)">
          <div [hidden]="!nombre.errors.required">
            <p class="text-danger">¡Necesitas un titulo!</p>
          </div>
        </div>
        
        <div class="col-12">
          <p class="text-muted text-left">
            <small>By {{ auth.dataUser.nombre }}</small>
          </p>
        </div>
    </div>
  </div>

  <div class="row">
      <div class="col-8 contenido ">
          <div class="container contenedor-editor">
              <div id="editor" class="bg-white">

              </div>
              
          </div>
         
      </div>

      <div class="col  ajustes bg-ft-smoke p-3">
        <div class="ContenedorAjustes">
            <div class="form-group">
              <label for="">División</label>
              <select id="division" class="form-control" required name="division" ngModel #valor="ngModel" (change)="changeDivision(valor.value)">
                <option value="">Seleccione una division</option>
                <option value="{{ i }}" *ngFor="let division of uni; let i = index"> {{ division.nombre }} </option>
              </select>
            </div>
            <div class="form-group">
                <label for="">Carrera</label>
                <select name="carrera" id="carrera" class="form-control" required ngModel>
                  <option value="">Seleccione una carrera</option>
                  <option value="{{ carrera.titulo + ' ' + carrera.label }}" *ngFor="let carrera of uni[division].carreras; let i = index" > {{ carrera.abr + ' - ' + carrera.label }} </option>
                </select>
            </div>
            <div class="form-group ">
                <!-- Tags de Tagify -->
                <small class="text-muted">Nota: Usa palabras clave para ayudar a los lectores a ubicar mejor tu articulo</small>
                <br>
                <label for="" title="separa las palabras por una coma">Tags:</label>
                <input name='tags' id="tags" class='tags-selector' placeholder='Escribe algunos tags' value='' >
            </div>
            <div>
              <!-- <button class="btn btn-secondary w-100 mb-2">
                Vista previa de tu articulo
              </button> -->
              <button class="btn btn-primary w-100 " type="submit" [disabled]="!articulo.valid">
                <span *ngIf="!publicando">Publicar</span>
                <span *ngIf="publicando">
                    <i class="fas fa-circle-notch loadingItem"></i> Publicando...  
                </span>
              </button>

              <p class="text-muted">
                  <small *ngIf="!articulo.valid">Te faltan algunos campos</small>
              </p> 
            </div>
        </div>
      </div>
      <div class="col-12 mt-3">
         <!-- Espacio en blando para el borde de abajo -->
      </div>
  </div>
</form>  
  <!-- <h2 class="text-center">Comparte tu conocimiento</h2>
  <div class="container">
    <div class="row">
      <div class="col-10 m-auto">
          <form #articulo=ngForm (ngSubmit)="guardarArticulo(articulo)" validate  >
            <div class="form-group">
              <label for="">Titulo:</label>
              <input type="text" placeholder="{{ auth.dataUser.nombre }}, ¿Cómo se llamará tu obra?" class="form-control" name="nombreArticulo" required ngModel #nombreArticulo="ngModel" >
              <div *ngIf="nombreArticulo.errors && (nombreArticulo.dirty || nombreArticulo.touched)">
                  <small [hidden]="!nombreArticulo.errors.required" class="text-danger">Necesita llenar este campo</small>
              </div>
                
            </div>
            <div class="form-group">
              <label for="">Tags:</label> <br>
              <small class="text-muted"> 
                <strong>Nota:</strong> Coloque palabras clave separadas por coma
              </small>
              <input type="text" placeholder="¿Quiéres poner algunas palabras clave?" class="form-control" name="tags" required ngModel #tags="ngModel">
              <div *ngIf="tags.errors && (tags.dirty || tags.touched)">
                  <small [hidden]="!tags.errors.required" class="text-danger">Necesita llenar este campo</small>
              </div>
            </div>
            <div class="form-group">
              <div id="editor">

              </div>
            </div>
            <button class="btn btn-primary w-100" type="submit" [disabled]="!articulo.valid">
                Publicar
            </button>
          </form>
      </div>
    </div>
  </div> -->

</div>
<!-- / Contenedor de la publicacion  -->

<!-- Vista previa -->
<!-- <h3>Salida de contenido</h3>

<div id="salida" class="ql-editor">

</div> -->