.tituloSize{
    border: none;
    background: transparent;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
}
    .error-title{
        border: solid red 1px !important;
    }

.contenedor-editor{
    height: 85%;
}

.contenido{
    overflow: hidden;
}