<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand foroteca" href="/inicio" style="font-size: 1.8rem;"> 
        <img src="/assets/logo/IconForoteca.png" width="30" class="align-middle" alt="">
        Foro<span class="foroteca-primary">teca</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mr-2">
                    <a class=" btn btn-outline-primary" href="#">
                        <i class="fas fa-plus-square"></i> Nuevo Artículo
                    </a>
                </li>
                <li class="nav-item  ">
                        <div class="dropdown">
                                <a class="btn btn-succes bg-ft-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    
                                    <i class="fas fa-user"></i> Roberto Gonzalez Vargas 
                                            
                                </a>
                              
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                  <a class="dropdown-item" href="#">Configuración</a>
                                  <a class="dropdown-item" href="#">Mis artículos</a>
                                  <a class="dropdown-item text-danger" href="#">Salir</a>
                                </div>
                        </div>
                   
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="header bg-ft-smoke">
    <ul class="mr-auto list-inline font-weight-bold ">
        <li class="list-inline-item">
            <a class="nav-link " href="#">
                Artículos
            </a>
        </li>
        <li class="list-inline-item">
            <a class="nav-link" href="#">
                FAQ
            </a>
        </li>
        <li class="list-inline-item">
            <a class="nav-link" href="#">
                Nosotros
            </a>
        </li>
        <li class="list-inline-item">
            <a class="nav-link" href="#">
                Contacto
            </a>
        </li>
    </ul>
</div>