<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand foroteca" href="#" routerLink="/inicio" style="font-size: 1.8rem;"> 
        <img src="/assets/logo/IconForoteca.png" width="30" class="align-middle" alt="">
        Foro<span class="foroteca-primary">teca</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mr-2" *ngIf="this.auth.userLoginState | async ;">
                        <a *ngIf="this.auth.dataUser" class=" btn btn-outline-primary" href="#" routerLink="/editor-articulo" routerLinkActive="active">
                            <i class="fas fa-plus-square"></i> Nuevo Artículo
                        </a>
                </li>
                
                <li  *ngIf="cargando">
                        <a href="" class="btn btn-primary loadingText" style="width: 150px;">
                            <span class="">
                                    <i class="fas fa-circle-notch loadingItem"></i>
                            </span> 
                        </a>
                </li>
                <li class="nav-item" *ngIf="!cargando">

                    <ng-container *ngIf="this.auth.userLoginState | async ; then registeredTemplate else noRegisteredTemplate;"></ng-container>
                    <ng-template #registeredTemplate>
                        
                        <div class="dropdown" *ngIf="this.auth.dataUser">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ this.auth.dataUser.nombre  + ' ' + this.auth.dataUser.apellidos}} 
                            </a>
                        
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#" routerLink="/mi-panel" routerLinkActive="active">Configuracion</a>
                            <!-- <a class="dropdown-item" href="#" routerLink="/mi-panel" routerLinkActive="active">Mi perfil</a> -->
                            <a class="dropdown-item text-danger" href="#" (click)="cerrarSession()">Salir</a>
                            </div>
                            
                        </div>
                    </ng-template>
                    <ng-template #noRegisteredTemplate>
                            <button class="btn btn-primary ml-1" routerLink="/acceder" routerLinkActive="active">
                                Acceder
                            </button>
                            <button class="btn btn-primary ml-1" routerLink="/registrarse" routerLinkActive="active"> 
                                Registrarse
                            </button>
                    </ng-template>
                    

                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="header">
    <ul class="mr-auto list-inline font-weight-bold ">
        <!-- <li class="list-inline-item">
            <a class="nav-link " href="#">
                Artículos
            </a>
        </li> -->
        <!-- <li class="list-inline-item">
            <a class="nav-link" href="#">
                FAQ
            </a>
        </li>
        <li class="list-inline-item">
            <a class="nav-link" href="#">
                Nosotros
            </a>
        </li>
        <li class="list-inline-item">
            <a class="nav-link" href="#">
                Contacto
            </a>
        </li> -->
    </ul>
</div>