.ctm-img {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ctm-btn {
    height: 50px;
    width: 100%;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: black;
}

.ctm-btn>div>div>h5 {
    text-align: start;
}

.ctm-btn:hover {
    background-color: #008f79;
    cursor: pointer;
}


/* ---------ARTICULOS CSS--------- */


/* ------Custom Images------ */

.sombras {
    box-shadow: 2px 2px 15px #666;
}

.ctm-img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.ctm-img2 {
    height: 75px;
    width: 75px;
    border-radius: 50px;
}


/* ------Custom Icons------ */

.fa-angle-down {
    font-size: 30px;
}

.fa-tag {
    font-size: 20px;
}
