<div class="cargando" *ngIf="cargando">
    <div class="login m-auto w-50">
            <p class="text-center text-muted">
                    Cargando Información..
            </p>
            <p class="text-center display-4 text-muted" >
                <i class="fas fa-circle-notch loadingItem"></i>
            </p>
            
    </div>
</div>
<div *ngIf="!login && !cargando" class="text-center">
    <h4>
         No ha iniciado session
    </h4>
</div>
<div class="contenedor"  *ngIf="!cargando && login">
    <hr>
    <div class="row bg-white">
        <div class="col-3 bg-ft-primary">
            <div class="row">
                <div class="col-12">
                        <img src="{{ usuario.picture }}" class="ctm-img">
                </div>
                <div class="col m-auto text-center">
                    <!-- <button class="btn btn-primary btn-sm">
                        Subir nueva foto
                    </button> -->
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h5 class="text-center">{{ usuario.nombre }} {{ usuario.apellidos }}</h5>
                </div>
                <div class="col-12">
                    <h5 class="text-center">{{ usuario.tipo | titlecase}}</h5>
                </div>
            </div>
            <hr>
            <!-- <div class="row">
                <button class="btn-outline-light ctm-btn" name="op" value="articulos" (click)="changeOP(0)">
                    <div class="row ml-2 mr-2">
                        <div class="col-1">
                            <i class="fas fa-newspaper"></i>
                        </div>
                        <div class="col-9">
                            <h5>Mis artículos</h5>
                        </div>
                    </div>
                </button>
            </div> -->
            <!-- <div class="row">
                <button class="btn-outline-light ctm-btn" name="op" value="perfil" (click)="changeOP(1)">
                    <div class="row ml-2 mr-2">
                        <div class="col-1">
                            <i class="fas fa-user-edit"></i>
                        </div>
                        <div class="col-9">
                            <h5>Editar mi perfil</h5>
                        </div>
                    </div>
                </button>
            </div> -->
            <!-- <div class="row">
                <button class="btn-outline-light ctm-btn" name="op" value="bio" (click)="changeOP(2)">
                    <div class="row ml-2 mr-2">
                        <div class="col-1">
                            <i class="fas fa-edit"></i>
                        </div>
                        <div class="col-9">
                            <h5>Editar mi biografía</h5>
                        </div>
                    </div>
                </button>
            </div> -->
        </div>
        <div class="col-xl-9 col-lg-9 bg-white">
            <!-- ---------SECCION DE ARTICULOS--------- -->
            <div class="animated fadeIn" *ngIf="op.articulos">
                <div class="row bg-white ml-2 mr-2 mt-4 sombras" *ngFor="let articulo of articulos">
                    <div class="col">
                        <div class="row mt-2">
                            <div class="col-2">
                                <a class="ctm-a" href="#">
                                    <img class="ctm-img mt-4" src="assets/img/ex1.jpg">
                                </a>
                            </div>
                            <div class="col-9">
                                <div class="row justify-content-center">
                                    <a class="ctm-a" href="#">
                                        <h3>Mejorar el aprendizaje</h3>
                                    </a>
                                </div>
                                <div class="row">
                                    <a class="ctm-a" href="#">
                                        <p class="foroteca-primary">TIC / área multimedia y comercio electrónico / Expresión Oral y Escrita / 2do Cuatrimestre</p>
                                    </a>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="row">
                                            <a class="ctm-a" href="">
                                                <p class="text-muted">Prof. Margarita Mendoza Cruz</p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="row justify-content-end">
                                            <a class="ctm-a" href="">
                                                <p class="text-muted">Hace 20 minutos</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1">
                                <button class="btn bg-white" type="button"> 
                                            <i class="foroteca-primary fas fa-angle-down"></i>
                                        </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col bg-ft-primary">
                                <div class="row mt-1 mb-1">
                                    <div class="col-1">
                                        <i class="fas fa-tag"></i>
                                    </div>
                                    <div class="col-11">
                                        <a class="ctm-a" href="#">
                                            <p class="ctm-p-m text-white">Aprendizaje. Expresión Oral, Multimedia. Conocimientos</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ---------SECCION DE PERFIL--------- -->
            <div class="conteiner animated fadeIn" *ngIf="op.perfil">
                <br>
                <h2 class="text-center">Editar Perfil</h2>
                <h6 class="text-center text-muted">Edita el formulario con tus nuevos datos</h6>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-11 col-xl-11 m-auto">
                            <hr>
                            <form #usuarioNuevo="ngForm" (ngSubmit)="registrarUsuario(usuarioNuevo)" validate>
                                <div class="container">
                                    <div class="row">
                                        <!-- <div class="form-group col-12">
                                          <label for="">Matricula *</label>
                                          <input type="text" class="form-control" id="matricula" placeholder="Matricula" (focusout)="revisarMatricula()">
                                      </div> -->
                                        <div class="col-md-6 col-sm-12">
                                            <label for="">Nombre</label>
                                            <input type="text" class="form-control" placeholder="Nombre" required name="nombre" [(ngModel)]="usuario.nombre">
                                        </div>

                                        <div class=" col-md-6 col-sm-12">
                                            <label for="">Apellidos</label>
                                            <input type="text" class="form-control" placeholder="Apellidos" required name="apellidos" [(ngModel)]="usuario.apellidos">
                                        </div>
                                        <div class="col-12">
                                            <label for="">Correo Electronico</label>
                                            <input type="email" class="form-control" placeholder="Correo Electronico" required name="email" [(ngModel)]="usuario.email">
                                        </div>
                                        
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-12">
                                                <label for="">Descripción</label>
                                                <textarea maxlength="350" required class="form-control" name="descripcion" placeholder="Háblanos de ti..." [(ngModel)]="usuario.descripcion" ></textarea>
                                                <p class="text-muted" *ngIf="usuario.descripcion">
                                                    <small [ngClass]="{'text-danger' : usuario.descripcion.length > 350}">
                                                        {{ usuario.descripcion.length }}/350
                                                    </small>
                                                </p>
                                                <p class="text-muted" *ngIf="!usuario.descripcion">
                                                        <small >
                                                           0/350
                                                        </small>
                                                </p>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <!-- <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <input type="radio" name="rol" required checked ngModel value="estudiante" (click)="changeRol(1)">
                                                        </div>
                                                    </div>
                                                    <label class="form-control">Estudiante</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <input type="radio" name="rol" required ngModel value="maestro" (click)="changeRol(0)">
                                                        </div>
                                                    </div>
                                                    <label class="form-control">Maestro</label>
                                                </div>
                                            </div>
                                        </div> -->
                                        <!-- <div class="col-12">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text" for="">Division</label>
                                                </div>
                                                <select class="custom-select" id="division" name="division" [ngModel]>
                                                  <option value="" selected >Seleccione su división...</option>
                                                  <option value="" >Turismo y hoteleria</option>
                                                  <option value="" >Tecnologias de la informacion</option>
                                              </select>
                                            </div>
                                        </div> -->
                                    </div>


                                    <!-- Contenedor estudiante -->

                                    <!-- <div class="row animated fadeIn" *ngIf="rol.estudiante">
                                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text" for="">Carrera</label>
                                                </div>
                                                <select class="custom-select" name="carrera" ngModel>
                                                  <option value="" selected >Seleccione su carrera...</option>
                                                  <option value="" >Turismo y hoteleria</option>
                                                  <option value="" >Tecnologias de la informacion</option>
                                              </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text" for="">Cuatrimestre</label>
                                                </div>
                                                <select class="custom-select" id="cuatrimestre" name="cuatrimestre" ngModel>   
                                                 
                                                  <option value="1">Primer Cuatrimestre</option>
                                                  <option value="2" >Segundo Cuatrimestre</option>
                                                  <option value="3" >Tercer Cuatrimestre</option>
                                                  <option value="4" >Cuarto Cuatrimestre</option>
                                                  <option value="5" >Quinto Cuatrimestre</option>
                                                  <option value="6" >Sexto Cuatrimestre</option>
                                              </select>
                                            </div>
                                        </div>
                                    </div> -->




                                    <!-- / Contenedor estudiantes -->
                                    <!-- Contenedor maestros -->


                                    <!-- <div class="row animated fadeIn" *ngIf="rol.maestro">
                                        <div class="col-12">
                                            <div class="input-group ">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text" for="">Grado de estudios</label>
                                                </div>
                                                <select class="custom-select" id="grado" name="grado" ngModel required>
                                                  <option selected >Seleccione su grado...</option>
                                                  <option value="" >Licenciatura</option>
                                                  <option value="" >Ingenieria</option>
                                                  <option value="">Maestria</option>
                                              </select>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label for="">Carrera</label>
                                            <input type="text" class="form-control" placeholder="Escriba el título que posee" name="titulo" ngModel required>
                                        </div>
                                    </div> -->

                                    <!-- /Contenedor maestros -->
                                    <!-- <div class="row my-3">
                                        <div class="col m-auto ">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="terminos" ngModel name="terminos">
                                                <label class="form-check-label" for="gridCheck">
                                                      Acepto terminos y condiciones
                                                  </label>
                                            </div>
                                        </div>

                                    </div> -->
                                    <button type="submit" class="btn btn-primary text-center my-2 mx-auto w-50" [disabled]="!usuarioNuevo.valid">
                                        <span *ngIf="!subiendo">Guardar</span>
                                        <span *ngIf="subiendo"> <i class="fas fa-circle-notch loadingItem"></i> Guardando..</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ---------SECCION DE BIOGRAFIA--------- -->
            <div class="conteiner animated fadeIn" *ngIf="op.bio">
                <br>
                <h2 class="text-center">Editar Biografía</h2>
                <h6 class="text-center text-muted">Edita el formulario con tus nuevos datos</h6>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-11 col-xl-11 m-auto">
                            <hr>
                            <form #bio="ngForm" (ngSubmit)="updateBio(bio)" validate>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="">Descripción</label>
                                            <textarea class="form-control" name="description" placeholder="Háblanos de ti..."></textarea>
                                        </div>
                                        <div class="mt-4 col-6">
                                            <div class="input-group ">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text" for="">Sexo</label>
                                                </div>
                                                <select class="custom-select" id="grado" name="grado" ngModel required>
                                                    <option selected>Seleccione su sexo...</option>
                                                    <option value="">Hombre</option>
                                                    <option value="">Mujer</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="mt-4 col-6">
                                            <div class="input-group ">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text" for="">Edad</label>
                                                    <input type="text" class="form-control" placeholder="Escribe tu edad" name="edad" ngModel>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-4">
                                            <label for="">Facebook</label>
                                            <input type="text" class="form-control" placeholder="https://mi-cuenta.facebook.com" name="fb" ngModel>
                                        </div>
                                        <div class="col-12 mt-4">
                                            <label for="">Twitter</label>
                                            <input type="text" class="form-control" placeholder="https://mi-cuenta.twitter.com" name="tw" ngModel>
                                        </div>
                                    </div>
                                    <hr>
                                    <button type="submit" class="btn btn-primary text-center mb-3">Editar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>