/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: foroteca;
    src: url(assets/fonts/Familiar_Pro-Bold.otf);
}

.contenedor {
    width: 92.5%;
    margin: auto;
}

.ctm-p-m {
    padding: 0 !important;
    margin: 0 !important;
}

.ctm-border-none {
    border: none !important;
}

.ctm-a {
    color: black;
}

.ctm-a:hover {
    text-decoration: none;
    color: black;
}

.foroteca {
    font-family: foroteca;
}

.foroteca-primary {
    color: #00ad92;
}

.foroteca-secondary {
    color: #1e1e1e;
}

.bg-ft-primary {
    background-color: #00ad92;
    color: white;
}

.bg-ft-dark {
    background-color: #007f6c;
    color: white;
}

.bg-ft-smoke {
    background-color: whitesmoke;
}

/* Clase para texto */
.loadingText {
    color:rgba(255, 255, 255,0.5) !important;
}

.loadingItem {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}