<div class="contenedor">
    <div class="row">
        <div class="col-6">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 margin_edit border_edit custom-width1" type="text" placeholder="¿Qué quieres saber?">
                <button class="btn bg-ft-primary my-2 my-sm-0 border_edit custom-width2" type="button"> <i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="col-2 d-flex bg-white custom-width3">
            <i class="fas fa-grip-vertical"></i>
            <h1>Filtros</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Recientes</h1>
        </div>
        <div class="col-4 margin_edit">
            <h1>Usuarios</h1>
        </div>
    </div>
    <div class="row ">
        <!-- ARTICULOS RECIENTES -->
        <div class="col bg-white">
            <div class="row bg-ft-primary articulos">
                <div class="col">
                    <h1 class="sombras">Articulo 1</h1>
                </div>
            </div>
            <div class="row bg-ft-primary articulos">
                <div class="col">
                    <h1 class="sombras">Articulo 2</h1>
                </div>
            </div>
            <div class="row bg-ft-primary articulos">
                <div class="col">
                    <h1 class="sombras">Articulo 3</h1>
                </div>
            </div>
        </div>
        <!-- USUARIOS -->
        <div class="col-4 bg-white margin_edit">
            <div class="row bg-primary articulos">
                <div class="col">
                    <h1>Usuario 1</h1>
                </div>
            </div>
            <div class="row bg-primary articulos">
                <div class="col">
                    <h1>Usuario 2</h1>
                </div>
            </div>
            <div class="row bg-primary articulos">
                <div class="col">
                    <h1>Usuario 3</h1>
                </div>
            </div>
            <div class="row bg-primary articulos">
                <div class="col">
                    <h1>Usuario 4</h1>
                </div>
            </div>
            <div class="row bg-primary articulos">
                <div class="col">
                    <h1>Usuario 5</h1>
                </div>
            </div>
        </div>
    </div>
</div>