<div class="contenedor">
    <!-- ---------BUSCADOR--------- -->
    <div class="row">
        <div class="col-5">
            <form class="form-inline">
                <input class="w-75 form-control ctm-border" type="text" placeholder="¿Qué quieres saber?">
                <button class="w-25 btn bg-ft-primary ctm-border" type="button"> 
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
        <div class="col-1 d-flex">
            <button class="btn d-flex" type="button"> 
                    <i class="ml-2 mr-2 fas fa-sliders-h"></i>                
            </button>
        </div>
    </div>
    <br>
    <hr>
    <!-- ---------TITULOS--------- -->
    <div class="row">
        <div class="col-8 ctm-p-m">
            <h1>Recientes</h1>
        </div>
        <div class="col-4 ctm-p-m">
            <h1>Usuarios</h1>
        </div>
    </div>
    <!-- ---------ARTICULOS RECIENTES--------- -->
    <div class="row">
        <div class="col-8 bg-white">
            <div class="row bg-white ml-2 mr-2 mt-4 sombras" *ngFor="let articulo of articulos">
                <div class="col">
                    <div class="row mt-2">
                        <div class="col-2">
                            <a class="ctm-a" href="#">
                                <img class="ctm-img mt-4" src="assets/img/ex1.jpg">
                            </a>
                        </div>
                        <div class="col-9">
                            <div class="row justify-content-center">
                                <a class="ctm-a" href="#">
                                    <h3>Mejorar el aprendizaje</h3>
                                </a>
                            </div>
                            <div class="row">
                                <a class="ctm-a" href="#">
                                    <p class="foroteca-primary">TIC / área multimedia y comercio electrónico / Expresión Oral y Escrita / 2do Cuatrimestre</p>
                                </a>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="row">
                                        <a class="ctm-a" href="">
                                            <p class="text-muted">Prof. Margarita Mendoza Cruz</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row justify-content-end">
                                        <a class="ctm-a" href="">
                                            <p class="text-muted">Hace 20 minutos</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            <button class="btn bg-white" type="button"> 
                                <i class="foroteca-primary fas fa-angle-down"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col bg-ft-primary">
                            <div class="row mt-1 mb-1">
                                <div class="col-1">
                                    <i class="fas fa-tag"></i>
                                </div>
                                <div class="col-11">
                                    <a class="ctm-a" href="#">
                                        <p class="ctm-p-m text-white">Aprendizaje. Expresión Oral, Multimedia. Conocimientos</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ---------USUARIOS--------- -->
        <div class="col-3 ml-4 ctm-p-m bg-white">
            <div class="row bg-primary mt-3 ml-2 mr-2" *ngFor="let articulo of articulos">
                <div class="col-3 ctm-p-m">
                    <a class="ctm-a" href="#">
                        <img class="ctm-img2 mt-1 mb-1 ml-2" src="assets/img/ex1.jpg">
                    </a>
                </div>
                <div class="col">
                    <div class="row mt-3">
                        <div class="col">
                            <a class="ctm-a" href="#">
                                <h5>Alumno Fulanito Pérez</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>